
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/producto.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <title>producto</title>
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="banner"></div>
        <div class="nombre-producto">
            <h2 id="titulo-producto"><%= productos.name%></h2> 
        </div>
        <div class="contenedor-general">
            <div class="contenedor-producto">
                <div class="detalle-producto">
                    <img class="imagenes" src="/images/products/<%=productos.image%>">
                    <p class="detlle-producto-descripcion">
                        <%= productos.description%>
                    </p>
                </div>
                <div class="talle-producto">
                    <label for="talle">Talle</label>
                    <%= productos.talle%>
                </div>
                <div class="informacion-producto">
                    <div class="precio-producto">
                        <i class="fas fa-dollar-sign"></i>
                        <p><%= productos.price%></p>
                    </div>
                    <div class="descuento-producto">
                        <p><%= productos.discount%>%</p>
                    </div>
                    <div class="precio-total-producto">
                        <i class="fas fa-dollar-sign"></i>
                        <p><%= productos.price - (productos.price * productos.discount / 100) %></p>
                    </div>
                </div>
            </div>
            <div class="accion-producto">
                <div class="stock-producto">
                    <p><%= productos.category%></p>
                </div>
                <div class="acciones-producto">
                    <div class="cuotas-producto">
                        <i class="fas fa-credit-card"></i>
                        <p>Hasta 12 coutas sin interés</p>
                    </div>    
                    <div class="envio-producto">
                        <i class="fas fa-truck"></i>
                        <p>Envío gratis</p>
                    </div>   
                    <div class="compra-producto">
                        <a href="#">COMPRAR</a>
                    </div>
                    <div class="add-carrito-producto">
                        <form action="">
                            <input type="submit" id="btn-carrito" value="AÑADIR AL CARRITO"><i class="fas fa-shopping-cart"></i>
                        </form>
                    </div>
                    <div>
                        <a href="/products/edit/1" class="compra-producto" name="botonEditar">EDITAR PRODUCTO</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>