<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <title>Dx sneaker: zapatillas deluxe</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="main">
        <div class="banner"></div>
        <div>
            <h3 id="los-buscados">Los más buscados</h3>
        </div>
        <div class="contenedor__productos">
            <% for(let i = 0; i <= 4; i++){ %>

            <article class="productos">
                <a href="./products/detalleProducto/<%= productIndex[i].id%>"><img class="imagenes" src="/images/products/<%= productIndex[i].imagen %>"></a>
                <div class="descripcion">
                    <div class="informacion">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio"><%= productIndex[i].precio %></p>
                    </div>
                    <div class="informacion">
                        <i class="fas fa-truck"></i>
                        <p>Envío gratis</p>
                    </div>
                    <div class="informacion">
                        <p><%= productIndex[i].modelo %></p>
                    </div>
                </div>
            </article>
           
            <%}%>
        </div>
        <div>
            <h3 id="los-buscados">Ofertas</h3>
        </div>
        <div class="contenedor__productos">
            <% for(let i = 5; i <= 8; i++){ %>
            <article class="productos">
                <a href="./products/detalleProducto/<%= productIndex[i].id%>"><img class="imagenes" src="/images/products/<%= productIndex[i].imagen %>"></a>
                <div class="descripcion">
                    <div class="informacion">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio"><%= productIndex[i].precio %></p>
                    </div>
                    <div class="informacion">
                        <i class="fas fa-truck"></i>
                        <p>Envío gratis</p>
                    </div>
                    <div class="informacion">
                        <p><%= productIndex[i].modelo %></p>
                    </div>
                </div>
            </article>
            <%}%>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>